<form id="algemeen">
    <label for="geslacht">geslacht</label>
    <select class="form" onchange=${handleSelect} id="geslacht" name="geslacht">
      <option value="man">man</option>
      <option value="vrouw">vrouw</option>
    </select>
    <label for="leeftijdKind">Leeftijd van het kind</label>
    <select class="form" onchange=${handleSelect} id="leeftijdKind" name="leeftijdKind">
      <option value="0 tot 4 jaar">0 tot 4 jaar</option>
      <option value="4 tot 8 jaar">4 tot 8 jaar</option>
      <option value="8 tot 12 jaar">8 tot 12 jaar</option>
      <option value="12 tot 16 jaar">12 tot 16 jaar</option>
      <option value="16 tot 18 jaar">16 tot 18 jaar</option>
    </select>
  </form>
  
  <div class="flex items-center justify-center pa4">
    <div>
    <a href="#0" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4"></a>
    <span class="pl1">Previous</span>
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
    </div>
    
    <div>
    <a href="#0" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
      <span class="pl1">Previous</span>
    </a>
    </div>
  </div>



  <body class="sans-serif pa3">
      <h1>Begin met een risico analyse </h1>
    
      <div class="flex items-center justify-center pa4">
        <div>
        <a href="#0" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4"></a>
        <span class="pl1">Previous</span>
          <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>chevronLeft icon</title>
            <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
          </svg>
        </div>
      