@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:extra-bold');
/* Some of the css came from an earlier assingment which can be found at https://github.com/Marijnone/shelter */


body{
    background-color:#f5f6fa;
    /* max-width: calc(24 * (1em + 1ex)); 
    margin: auto;
    padding: calc(2 * (1em + 1ex)); */
  
}

h1{
    font-size:3em;
    font-family: 'Raleway', sans-serif;
    font-weight:extra-bold;
}

p,form,h2{
    font-family: 'Montserrat', sans-serif  
}

section.risico-analyse{
    display: flex;
    box-shadow: grey;
}

.result{
    display: flex;
    background-color: #0097e6;
    height: 9em;
    width: 14em;
    position: fixed;
    top: 8em;

}

.answerRed {
    color:red;
}

a {
    color: white;
    transition: 300ms color;
    font-family:'Montserrat';
    text-decoration: none;
  }

form {
    /* margin: 0 calc(-2 * (1em + 1ex));
    padding: calc(1em + 1ex) calc(2 * (1em + 1ex));
    border-radius: 3px; */
  }

label,
textarea,
input,
select {
  display: block;
}

textarea,
select {
  background-color: #f5f6fa;
  width: 100%;
  margin: 0;
  margin-top: 1ch;
  padding: 1ch;
  font: inherit;
  font-size: smaller;
  border: 1px solid hsla(240, 20%, 20%, 0.5);
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
}
label {
  margin: calc(1em + 1ex) 0;
}
button {
    display:flex;
    justify-items: center;
    font: inherit;
    background-color:#0097e6;
    width: 100%;
    padding:2em;
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
  }

.start_button{
    display: flex;
    justify-items: center;
    width: 5em;
}
/*  font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif; */